@import "../../../colors.scss";

.btn {
	font-size: 1.6rem;
	padding: 0.5rem 2.5rem;
	text-wrap: nowrap;

	&:active {
		border: none;
	}

	&:disabled {
		border: none;
		cursor: not-allowed;
	}

	&.btn-primary {
		background: $primary-green;
		border: none;

		&:active {
			background: $primary-green;

			box-shadow: 0px 0px 6px $primary-green;
		}
	}

	p {
		font-size: 1.4rem;
	}

	&.btn-outline-primary {
		color: $primary-green;
		font-weight: 600;
		border-color: $primary-green;

		&:active {
			background: $primary-green;
			border-color: $primary-green;
			box-shadow: 0px 0px 6px $primary-green;
		}

		&:hover {
			background: $primary-green;
			color: $white;
		}
	}

	&.btn-text {
		padding: 0;

		&:active {
			background: transparent;
			// border: none;
			box-shadow: none;
		}

		&:hover {
			font-weight: 600 !important;
		}
	}
}
