@import "../../colors.scss";

.header {
	background: $white;

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 2.4rem;

		h1 {
			font-weight: 700;
		}
	}
}
