@import "../../colors.scss";
@import "../../mixins.scss";

.cart-table {
	padding: 2.8rem !important;

	&-header {
		& .search-input {
			width: 40rem !important;
		}

		&--right {
			@include flex-center(5rem);
		}
	}

	.cart-item-table {
		font-size: 1.4rem;
		width: 100%;
		margin-top: 2.4rem;

		table {
			border-collapse: separate;
			border-spacing: 0;

			thead tr td {
				padding-block: 1.6rem;
				font-weight: 600;

				border: 1px solid $gray-100;
				border-left: none;
				border-right: none;

				&:first-child {
					border-left: 1px solid $gray-100;
					border-top-left-radius: 8px;
				}
				&:last-child {
					width: 30rem;
					border-right: 1px solid $gray-100;
					border-top-right-radius: 8px;
				}
				&:nth-child(2) {
					width: 30rem;
				}
			}

			tbody {
				tr {
					padding-block: 1rem;
				}
				tr td {
					padding-block: 2rem;
					vertical-align: middle;

					&:last-child {
						background: $gray-light-100;
						padding-inline: 1.4rem;
					}
				}

				img {
					@include size(5rem, 5rem);
				}

				.btn {
					font-size: 1.2rem;
				}

				.badge-missing,
				.badge-missing-urgent,
				.badge-approved {
					color: $white;
					border: none;
				}

				.badge-missing {
					background: $text-danger-1;
				}
				.badge-missing-urgent {
					background: $text-danger-2;
				}
				.badge-approved {
					background: $text-success;
				}
			}
		}
	}
}

// Edit Modal
.editModal {
	.content {
		padding-block: 1rem;
		p {
			font-size: 1.4rem;
		}

		&-head {
			h3 {
				font-weight: 600;
				font-size: 1.6rem;
			}

			p {
				color: $gray-300;
			}
		}

		&-body {
			width: 100%;
			@include flex-center(3rem);
			justify-content: flex-start;

			.product-photo {
				@include size(20rem, 20rem);
			}

			.product-form {
				flex: 1;
				@include flex-center(2rem);

				flex-direction: column;

				&-field {
					justify-content: space-between;
					width: 100%;
					.label {
						// flex: 1;
						width: 10rem;
						p {
							width: fit-content;
							text-align: left;
							font-weight: 500;
						}
					}
				}

				&-input {
					flex: 1;
					text-align: center;

					& .input {
						width: 10rem;
					}

					span {
						font-size: 1.4rem;
					}

					.total-amount {
						margin-right: 7rem;
					}
				}
			}
		}

		&-foot {
			p {
				font-weight: 600;
				span {
					color: $gray-300;
					font-weight: 500;
				}
			}

			.reasons {
				margin-top: 1.4rem;

				@include flex-center(1rem);
				justify-content: flex-start;
			}
		}
	}
}
