@import "./colors.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 62.5%;
	font-family: "Poppins";
	line-height: 1.5;
	font-weight: 400;
	background-color: $white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	max-width: 100vw;
	margin: 0 auto;
	text-align: center;

	background: $gray-light;
	height: calc(100vh);
}

// Common Styles
h1 {
	margin-bottom: 0;
}

section {
	padding: 1.6rem 8rem;
}

a {
	text-decoration: none;
	color: unset;
}

// General Utils
.cursor-pointer {
	cursor: pointer;
}

.rounded-lg {
	border-radius: 50rem;
}
